html {
	background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),url(aroha.jpg);/*#eeeeee;url(favohintergrund.gif);*/
	background-size:cover;
	font-family: "Trebuchet MS", "Arial";
	/*
	Arial
	Helvetica Neue
	Times New Roman
	Georgia
	Arial
	Verdana
	Trebuchet MS
	Courier New
	Impact
	Andale Mono

	// FREAK
	Small Fonts
	Fixedsys

	Monaco Mono

	*/
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	background: 0;
	margin-top: 15px;
}

.info {
width: 150px;
background: #eeeeee;
border-color:#cccccc; border-width:thin; border-style:solid;
margin-bottom: 10px;
margin-top: 0px;
}

.big{
margin-right: 150px;
}

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #000000;
    border: solid 2px#000000;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #000000;
    color: white;
}



/*

.link {
margin-right: 10px;
}

.Mini {
margin-left: 30px;
}

a img {
	border: 0;
	padding: 1px;
	margin: 0px;
}
